{% extends "layouts/layout.html" %}

{% load static %}

{% block body %}

<section>
    <div class="easy-container" id="easy-container">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="{% static 'easy/media/videos/purple.mp4' %}" type="video/mp4">
        </video>
        <div class="content">
            <div class="start-container">
                <div class="seconds-container">
                    <h5 id="seconds">START</h2>
                    <h6 id="damos">SE LO DAMOS EN...</h6>
                </div>
                <div class="palabra-container">
                    <p id="palabra"></p>
                </div>
            </div>
            <div class="buttons">
            <div class="btns-play">
                <div class="holder">
                    <div data-role="controls">
                        <button><i class="fa-solid fa-microphone"></i></button>
                    </div>
                </div>
                <a class="btn-solid-lg page-scroll" id="play">Play</a>
                <a class="btn-solid-lg page-scroll" id="restart">Restart</a>
                <i class="fa-solid fa-volume-high" id="volume-icon"></i>
                <input type="range" value="100" id="volume" class="range-volume">
            </div>
            <div class="audio">
                <select  class="audio-selection" name="audios" id="audios">
                    {% for beat in beats %}
                        <option class="beats"value="{{ beat.beat.url }}" id="{{ beat.estallido }}">{{ beat.name }} - {{ beat.artist }}</option>     
                    {% endfor %}
                </select>
                <div class="record-btns">
                    <a class="btn-solid-lg page-scroll" id="play-recorder"><i class="fa-solid fa-play"></i> / <i class="fa-solid fa-pause"></i></a>
                    <div data-role="recordings" class="dowload-object"></div>
                </div>
                <audio src="{{ first.beat.url }}" id="audio"></audio>
                <audio src="{% static 'easy/audios/gritoTiempo.mp3' %}" id="grito01"></audio>
            </div>
           </div> 
        </div>
        <div class="btn-words">
            <a class="btn-solid-lg page-scroll" id="ir" href="#"><i class="fa-solid fa-chevron-down"></i></a>
        </div>  
    </div>
    <div class="used-words-container" id="wordContainerHtml">
    </div>
    <div class="down-container">
        <div class="btn-words">
            <a class="btn-solid-lg page-scroll" id="volver" href="#easy-container"><i class="fa-solid fa-chevron-up"></i></a>
       </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script src="{% static 'easy/js/recorder.js' %}"></script>
    <script src="{% static 'easy/js/timer.js' %}"></script>
    <!-- <script src="{% static 'easy/js/jqueryChange.js' %}"></script> -->
</section>


{% endblock %}