{% extends "layouts/layout.html" %}

{% load static %}

{% block body %}

<section>
    <div class="easy-container">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="{% static 'easy/media/videos/purple.mp4' %}" type="video/mp4">
        </video>
        <div class="content">
            <p class="damos" id="damos">SE LO DAMOS EN...</p>
            <h5 id="seconds">START</h2>
            <p id="palabra"></p>
            <div class="buttons">
            <a class="btn-solid-lg page-scroll" id="play">Play</a>
            <a class="btn-solid-lg page-scroll" id="restart">Restart</a>
            <div class="audio">
                <select  class="audio-selection" name="audios" id="audios">
                    {% for beat in beats %}
                        <option value="{{ beat.beat.url }}">{{ beat.beat }}</option>
                    {% endfor %}
                </select>
                <!-- C:\Users\PC\Rapp\Rapp\media\media\beat-0.mp3 -->
                <!-- <audio src="{% static 'easy/media/media/beat-0.mp3' %}" id="audio"></audio> -->
                <audio src="{{ first.beat.url }}" id="audio"></audio>
                <h1>{{ first.beat.url }}</h1>
            </div>
           </div>
        </div>
    </div>


    <script src="{% static 'easy/js/timer.js' %}"></script>
</section>

{% endblock %}