{% extends "layouts/layout.html" %}

{% load static %}

{% block body %}

     <!-- Header -->
     <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1>BEST APP <br>FOR <span id="js-rotating">RAPPERS, FREESTYLERS, PLAYERS</span></h1>
                            <p class="p-large">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut aliquid provident harum optio fugiat voluptates nihil necessitatibus atque, odio ullam.</p>
                            <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-apple"></i>PLAY</a>
                            <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-google-play"></i>DONATE</a>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{{'static/media/phone-purple.png'}}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->




{% endblock %}