:root{
    --secondary-color: #3A2D80;
    --main-color: #592ac5;
	--third-color: #a408ff;
    --black: #1A1C22;
    --letter: #444444;
    --white-color: #fdfdfd;
    --border: .1rem solid rgba(255,255,255,.3);
}
.easy-container{
    height: 80vh;
    margin: 110px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    position: relative;
    
}

.easy-container .back-video{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 15px;
    filter: brightness(50%);
}


.easy-container .content h5{
    font-size: 220px;
    margin-top: 80px;
}

.easy-container .content .damos{
    margin-bottom: 70px;
    display: none;
    margin-top: -40px;
}

.easy-container .content p{
    font-size: 70px;
    margin-top: 120px;
}

.easy-container .content a{
    margin:30px 10px;
    font-size: 15px;
}

.easy-container .content a:hover{
    color: var(--white-color);
}

.easy-container .content .audio select{
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.easy-container .content .audio select{
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 0.60em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--main-color);
    color: var(--white-color);
    text-align: center;
}

.easy-container .content .audio select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--white-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

.used-words-container .full-word{
    margin-left: 50px;
    margin-bottom: 30px;
    border: 4px solid var(--main-color);
    padding: 40px;
    margin-right: 50px;
    border-radius: 10px;
}

.used-words-container .full-word:hover{
    transform: translateY(-7px);
    box-shadow: 0 10px 10px var(--main-color);
}

.used-words-container .full-word .word-element{
    font-size: 35px;
    margin-bottom: 18px;
}

.used-words-container .full-word .definition-element{
    font-size: 25px;
    color: var(--white-color);
    line-height: 30px;
}

